html{
    scroll-behavior: smooth;
}
.navbar{
    background: linear-gradient(to top right,black 0%,rgb(177, 37, 102));
    text-decoration: none;
}
.nav-item{
    padding: right;
}
.nan-item a{
    color: white;
    text-decoration: none;
}
.nan-item :hover{
    text-decoration: none;
    color: white;
}

h1{
    color: yellow;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: -18px;
}
p{
    font-size:xx-large;
    text-align: center;
}
.src1{
    margin: 0;
    border: black;
    padding:center;
    background-color: red;
}
.card{
    border: thin solid black;;
    padding: auto;
    width: 500px;
    margin:auto;
    box-shadow: 5px 10px;
}
.row{
    border:thin solid black;
    padding: auto;
    background-color:burlywood;
    
    
}

.img-fluid{
    width: 300px;
    margin-left: 100px;
    margin-top: 20px;
    border: thin solid black;
}

li{
    color: rgb(14, 13, 13);
    font-size: x-large;
}
.d-flex{
    margin-left: 10%;
}
.d-flex img{
    padding: 10%;
    width: 350px;
    height: 350px;

}
.p-2{
    border: thin solid black;
    margin: 10px;
}
.p-2 button{
    margin-left: 30px;
    background-color: blue;
    color: white;
    width: auto;
}
.tabel{
    margin: auto;
    border:thin solid black;
    width: 100%;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    margin-bottom: -2%;
    padding: auto;
}
.setup{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -1%;
    margin-bottom: -1%;
    border: thin solid black;
    text-align: center;
    padding: auto;
    background: linear-gradient(to top right,rgb(177, 212, 96) 0%,rgb(196, 94, 142));

}
button{
    background-color:darkred;
    color: white;
    width: auto;
}
label{
    color:thin solid black;
}
input{
    border:thin solid black;
}